
body {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.principal {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    background: #F2F5F7;
}

.title-app {
    display: flex;
    justify-content: center;
    height: 8%;
    background: white;
}

.title-app .title-app-desc {
    color: gray;
    font-size: 1em;
}

.legends-text-word-timer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 30%;

}


.player-buttons .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-end;

    
    height: 20%;
}

.button {
    width: 80px;
    height: 80px;
    font-size: 2em;
    color: grey;
    font-weight: bold;
}



button:hover {
    color: black;
    box-shadow: 1px 1px 1px 1px lightseagreen;
    /* height: 40px; */
}

.legends-text-word-timer .container .itens {
    display: flex; 
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    height: 50%;
}

.item {
    padding: 10px;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    font-size: 300%;
}

.legend {
color: lightcoral;
} 



.timer {
    
    color: lightcoral;
} 

  
@media (min-width: 300px) {
.legends-text-word-timer .container {
     
    height: 15%;

}

.button {
    width: 100%;
    height: 100%;
    font-size: 4em;
    color: grey;
    font-weight: bold;
}



}

