

/** WEB DESKTOP */

body {
  	background-color: #F2F5F7;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    
}



.legends-text-word-timer .container{
    display: flex;
    flex-flow: column wrap;
    align-items: center; 
    justify-content: space-between;  
    margin : 30px;

}

.item {
    
    margin: 1%;
    width: 100%;
    text-align: center;
    width: 100%;
	height: 100%;

    /* box-shadow: 4px 4px 4px #555; */
}

.legend {
    flex-grow: 2;
    font-size: 2.3em;
    /* background: lightsalmon; */
    font-weight: bold;
    height: 100px;
    color: lightcoral;
    
    
}

.word {
    font-size: 2em;
    font-weight: bold;
    /* background: lightcoral; */
    color: lightslategray;
}

.timer {
    font-size: 2em;
    /* background: lightgreen; */
    color: lightcoral;
    font-weight: bold;
    

}


.player-buttons .container {
    display: flex;
    justify-content: center;
} 

button {
    color: grey;
    font-weight: bold;
    width: 5%;
    height: 32px;
    font-size: 16px; 
}

button:hover {
    box-shadow: 1px 1px 1px 1px lightseagreen;
    /* height: 40px; */
}





/* MOBILE */
@media(max-width: 768px) {

  .legend {
      font-size: 1.4em;
      height: auto;
  }

}