/**

    CSS INITIALIZE - SOOBDOO

**/

html,
body,
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    background: #F2F5F7;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/**
   
   TITLE OF APP

**/

.title-app {
    display: flex;
    justify-content: flex-start;
    height: 10%;
    padding-left: 5%;
    padding-right: 5%;
    /* background: white;*/
}

.title-app .title-app-desc {
    color: gray;
    font-size: 1em;
}


/**

    LEGENDS, WORDS AND TIMER

**/

.legends-text-word-timer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.legends-text-word-timer .container .itens {
    display: flex;
    flex-flow: column wrap;
    /*justify-content: space-around;*/
    align-items: center;
    padding: 5%;
    width: 100%;
}

.item {
    display: block;
    text-decoration: none;
    margin: 8%;
}

.legend {
    font-size: 1.9em;
    color: lightcoral;
}

.word {
    font-size: 2.1em;
}

.timer {
    font-size: 2.5em;
    color: lightcoral;
}


/**

    PLAYER BUTTONS

**/

.player-buttons .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-end;
    padding: .7%;
}

.button {
    width: 20%;
    font-size: 2em;
    color: grey;
    font-weight: bold;
}

button:hover {
    color: black;
    box-shadow: 1px 1px 1px 1px lightseagreen;
    /* height: 40px; */
}


/**

    LAMP FOR CONTROL PLACES DARKS AND LIGHTS

**/

#lampada {
    height: 100%;
}


/** 

    MEDIA QUERIES ADAPTER RESPONSIVES

**/

@media (min-width: 500px) {
    .title-app {
        height: 15%;
    }
    .item {
        margin: 1%;
    }
    .legend {
        font-size: 1.3em;
    }
    .word {
        font-size: 1.6em;
    }
    .timer {
        font-size: 1.8em;
    }
    .button {
        width: 15%;
        font-size: 1.5em;
    }
}

@media (min-width: 700px) {
    .title-app {
        justify-content: center;
        font-size: 1.6em;
        height: 10%;
    }
    .item {
        margin: 4%;
    }
    .legend {
        font-size: 3.5em;
    }
    .word {
        font-size: 2.4em;
    }
    .timer {
        font-size: 5em;
    }
    .button {
        width: 50%;
        font-size: 3em;
    }
}

@media (min-width: 800px) {
    .title-app {
        justify-content: center;
        font-size: 2em;
        height: 10%;
    }
    .item {
        margin: 4%;
    }
    .legend {
        font-size: 4em;
    }
    .word {
        font-size: 3.2em;
    }
    .timer {
        font-size: 6em;
    }
    .button {
        width: 50%;
        font-size: 3em;
    }
}